body {
  font-family: sans-serif;
  background-color: #fdf6f0;
  color: #333;
  padding: 20px;
}

h1 {
  color: #d38167;
}

.semestre {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.asignatura {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

input[type="checkbox"] {
  transform: scale(1.3);
}
